<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
        <!-- <p>hi   {{home.username}} how are you {{home.lastname}}</p> -->
        <!-- <p>{{username}}</p> -->
        <p>
            {% if value=='10' %}
                <p>{{value}}</p>
                <p>{{value}}</p>
                {{value}}
            {% else %}
                {{value}}
            {%  endif %}
        </p> 

       <p>
            {% for i in arr %}
                <li>{{i.title}}</li>
            {% else %}
                <li>arr empty</li>
            {% endfor %}
       </p>
    {% endblock %}
</body>
</html>